@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Heebo:wght@300&display=swap');

.FilterBar {
  margin: 20px 0;
}

.FilterButton,
.FilterBarCurrent {
  font-family: 'Heebo', sans-serif;
  font-weight: 900;
  width: 6vw;
  height: 6vh;
  background-color: #000000;
  color: #FFFF;
  border: 1px solid #000000;
  border-radius: 25px;
  margin: 0 .8rem;
}

.FilterButton:hover,
.FilterBarCurrent:hover {
  box-shadow: 0 0 10px #000000;
}

.FilterBarCurrent {
  color: #60ca60;
}

@media (min-width: 320px) and (max-width: 760px) {
  .FilterButton,
  .FilterBarCurrent {
    width: 15vw;
    height: 4vh;
    font-size: 0.7rem;
    padding: 5px 0 5px 0;
  }
}

@media (min-width: 761px) {
  .FilterButton,
  .FilterBarCurrent {
    width: 7vw;
    height: 4vh;
    font-size: 0.9rem;
  }
}
